*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    width: 412px;
    background-color: aliceblue;
}
/* -------- */
body{
    background-color: antiquewhite;
    
}

.square{
    width: 240px;
    height: 145px;
    border: 1px solid black;
    background-color: rgb(248, 245, 245);
}

.carré{
    width: 30px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    left: 15px;
    top: 15px;
    background-color: black;
    color: aliceblue;
}
 
.pp{
    position: relative;
    bottom: 5px;
    left: 55px;
}

.grdpara{
    position: relative;
    bottom: -15px;
    left: 15px;
}

.p2p{
   position: relative;
   bottom: -45px;
   left: 130px;
   margin: 2px;
}

#conteneur{
    display: flex;
    justify-content: space-between;

}

.lecatalogue:hover{
    font-size: 30px;
}
#carréviolet{
    display: flex;
    width: 412px;
    background-color: purple;
    height: 300px;
    padding: 15px;

    
}

h1{
    color: rgb(255, 255, 255);
}

.gh1 h1{
    height: 45px;
    width: 300px;
    /* border: 1px solid black;
    background-color: rgb(89, 212, 212); */
    color: black;
   
}

.chiffre{
    width: 100px;
    height: 50px;
    position: relative;
    top: 150px;
    right: 150px;
    justify-content: space-around;
    color: aliceblue;
    
}