#search-icon{
    display: inline-block;
    width: 20px;
    position:relative;
    left: 380px;
    top:-35px;
}
.icone img{
    width: 130px;
}
input{
    padding:15px;
    width: 100%;
    margin-top: 15px;
}
nav{
    width: 412px;
    margin: 0 auto;
    background-color: #f5fcff;
    height: 500px;
}
.sous-onglet{
    display: none;
}
#signup{
    padding:10px 20px;
    background-color: blue;
    color:white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* font-size: 16px; */
    position:relative;
    left: 180px;
}
#log{
    background-color: #fff;
    border:none;
    color:blue;
    position:relative;
    top:50px;
    left:100px;
}
nav li{
    list-style: none;
    margin-bottom: 20px;

}
nav li a{
    text-decoration: none;
    color:black;
    /* font-size: 20px; */
}
.notebook,.resources,.community,.pricing,.business{
    display: inline-block;
    width: 20px;
    margin-right: 10px;
}
.arrow img{
    display: inline-block;
    width: 10px;
    position:relative;
    left: 250px;
}
#community .arrow{
    position: relative;
    left: -10px;
}
#pricing .arrow{
    position: relative;
    left: -5px;
}
