.blocStart {
    background-color: #3A10E5;
    padding: 20px 15px;
}

.blocStart img {
    width: 250px;
    background-color: #3A10E5;
}

.blocStart h1,
.blocStart p {
    color: white;
    margin-bottom: 20px;
}

.blocStart button {
    background-color: #FFD300;
    padding: 5px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}